/*
=============== 
Footer
===============
*/
footer {
  text-align: center;
  padding: 2rem;
  background: black;
  color: white;
  border-top: 7px solid var(--clr-footer);
}
footer a {
  color: white;
}
.footer-links a {
  padding: 1rem;
  font-size: 1.5rem;
  transition: var(--transition);
}
footer a:hover {
  color: var(--clr-main-1);
}
.footer-links {
  padding: 1rem;
}

@media screen and (max-width: 990px) {
  footer {
    padding: 1rem;
    font-size: 0.75rem;
  }
  .footer-links {
    padding: 0.5rem; 
  }
}
