/*
=============== 
Theme Button
===============
*/
.theme-btn-icon {
  margin-left: 10px;
  color: var(--clr-font);
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 50%;
  padding: 2px;
  background-color: none;
}
.theme-btn-icon:hover {
  background-color: rgba(180, 180, 180, 0.4);
}
