/*
=============== 
Global Color Themes
===============
*/
.dark-theme {
  --clr-bg-1: black;
  --clr-highlight: #334168;

  --clr-main-1: #4070F4; 
  --clr-main-2: #334168;

  --clr-sub-1: #334168;
  --clr-sub-2: white;

  --clr-font: white;
  --clr-footer: #334168;

  --clr-dropshadow: rgba(51, 65, 104, 0.8);
  --transition: all 0.3s linear;
}
.light-theme {
  --clr-bg-1: white;
  --clr-highlight: #657d98;

  --clr-main-1: #4070F4; 
  --clr-main-2: #F4F7FF;

  --clr-sub-1: #dae2ec;
  --clr-sub-2: #657d98;

  --clr-font: black;
  --clr-footer: white;

  --clr-dropshadow: rgba(0, 0, 0, 0.2);
  --transition: all 0.3s linear;
}



/*
=============== 
Global Styles
===============
*/
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Poppins', sans-serif;
  color: var(--clr-font);
  background: var(--clr-bg-1);
  transition: var(--transition);
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

/* Scrollbar Effects */
::-webkit-scrollbar {
  width: 1vw;
  height: 1vw;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: darkgrey;
} 
::-webkit-scrollbar-thumb:hover {
  background: grey;
}