/*
=============== 
Global Color Themes
===============
*/
.dark-theme {
  --clr-bg-1: #1b1b1d;
  --clr-highlight: #596b78;

  --clr-main-1: #4070f4;
  --clr-main-2: #242526;

  --clr-sub-1: #596b78;
  --clr-sub-2: #ebedf0;

  --clr-font: #ebedf0;
  --clr-footer: #242526;

  /* --clr-dropshadow: rgba(51, 65, 104, 0.8); */
  --transition: all 0.3s linear;
}
.light-theme {
  --clr-bg-1: white;
  --clr-highlight: #596b78;

  --clr-main-1: #4070f4;
  --clr-main-2: #f4f7ff;

  --clr-sub-1: #ebedf0;
  --clr-sub-2: #596b78;

  --clr-font: black;
  --clr-footer: white;

  --clr-dropshadow: rgba(0, 0, 0, 0.2);
  --transition: all 0.3s linear;
}

/*
=============== 
Global Styles
===============
*/
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  color: var(--clr-font);
  background: var(--clr-bg-1);
  transition: var(--transition);
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

/* Scrollbar Effects */
::-webkit-scrollbar {
  width: 1vw;
  height: 1vw;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: darkgrey;
}
::-webkit-scrollbar-thumb:hover {
  background: grey;
}
